# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Upload folder
uploads/

# Backups folder
backups/

# Firebase admin keys (never push)
serviceAccountKey.json
firebase-adminsdk*.json

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/